<h1 style="color:green">Edit User Profile</h1>

<form accept-charset="UTF-8" action="/users" class="edit_user" id="edit_user" method="post">
	<%= devise_error_messages! %>
	
	<div style="margin:0;padding:0;display:inline">
		<input type="hidden" name="utf8" value="✓">
		<input type="hidden" name="_method" value="put">
		<input type="hidden" name="authenticity_token" value="form_authenticity_token">
	</div>
  
  <div><label for="user_email">Email</label><br>
  <input type="email" id="user_email" name="user[email]" 
				 size="30" autofocus="autofocus" value="<%= resource.email %>"></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

	<div><label for="user_name">Full Name</label><br>
	<input type="text" id="user_name" name="user[name]" size="30" 
				 value="<%= resource.name %>"></div>

	<div><label for="user_location">Location (zipcode, city/state, or full address)</label><br>
	<input type="text" id="user_location" name="user[location]" size="30" 
				 value="<%= resource.location %>"></div>

	<div><label for="user_institution">Institution/Company (optional)</label><br>
	<input type="text" id="user_institution" name="user[institution]" size="30" 
				 value="<%= resource.institution %>"></div>
				
	<div><label for="user_link">Link to CV/Resume (optional)</label><br>
	<input type="text" id="user_link" name="user[link]" size="30" 
				 value="<%= resource.link %>"></div>				
	
	<div><label for="user_education">Highest Degree Achieved</label><br>
	<select id="user_education" name="user[education]">
		<option></option>
		<option value="High School" 
		<%= "selected" if resource.education == "High School" %>>High School</option>
		<option value="Associates" 
		<%= "selected" if resource.education == "Associates" %>>Associates</option>
		<option value="Bachelors" 
		<%= "selected" if resource.education == "Bachelors" %>>Bachelors</option>
		<option value="Masters" 
		<%= "selected" if resource.education == "Masters" %>>Masters</option>
		<option value="Doctorate" 
		<%= "selected" if resource.education == "Doctorate" %>>Doctorate</option>
	</select></div>

  <div><label for="user_password">Password</label> <i>(leave blank if you don't want to change it)</i><br>
  <input type="password" autocomplete="off" id="user_password" name="user[password]" size="30"></div>

  <div><label for="user_password_confirmation">Password confirmation</label><br>
  <input type="password" id="user_password_confirmation" name="user[password_confirmation]" size="30"></div>

  <div><label for="user_current_password">Current password</label> <i>(we need your current password to confirm your changes)</i><br>
  <input type="password" id="user_current_password" name="user[current_password]" size="30"></div>

  <div><input type="submit" name="commit" value="Update Profile"></div>
</form>

<h3>Delete your LabElves account</h3>
<%= button_to "Cancel my account", user_registration_url, 
		:data => { :confirm => "Sorry to see you go! Are you sure?" }, :method => :delete %>
<br>
<%= link_to "Back", :back %>

<!-- ORIGINAL DEVISE PAGE (GRABBED HTML INSTEAD) 
	<%= form_for(resource, :as => resource_name, :url => user_registration_url(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", user_registration_url, :data => { :confirm => "Are you sure?" }, :method => :delete %></p>

<%= link_to "Back", :back %> -->