<br><br>
<%= devise_error_messages! %>
<br>
<h1 style="color:green">Greetings, future LabElf!</h1>
<h2 style="color:green">Sign up</h2>

<div class="row">
	<form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post">
		<div class="span8">
        <div class="row-fluid">
            <div class="span5">
                <div style="margin:0;padding:0;display:inline">
									<input type="hidden" name="utf8" value="✓">
									<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
								</div>

							  <div><label for="user_email">Email</label><br>
							  <input type="email" autofocus="autofocus" id="user_email" name="user[email]" 
											 size="40" value="<%= resource.email %>"></div>

							  <div><label for="user_password">Password</label><br>
							  <input type="password" id="user_password" name="user[password]" size="40"></div>

							  <div><label for="user_password_confirmation">Password confirmation</label><br>
							  <input type="password" id="user_password_confirmation" 
											 name="user[password_confirmation]" size="40"></div>

								<div><label for="user_name">Name</label><br>
								<input type="text" id="user_name" size="40" name="user[name]" 
											 value="<%= resource.name %>"></div>

								<div><label for="user_location">Location (zipcode, city/state, or full address)</label><br>
								<input type="text" id="user_location" size="40" name="user[location]" 
											 value="<%= resource.location %>"></div>
            </div>
            <div class="span6">
                <div><label for="user_institution">Institution/Company (optional)</label><br>
								<input type="text" id="user_institution" size="40" name="user[institution]" 
											 value="<%= resource.institution %>"></div>

								<div><label for="user_link">Link to CV/Resume (optional)</label><br>
								<input type="text" id="user_link" size="40" name="user[link]" 
											 value="<%= resource.link %>"></div>

								<div><label for="user_education">Highest Degree Achieved</label><br>
								<select id="user_education" name="user[education]">
									<option></option>
									<option value="High School" 
									<%= "selected" if resource.education == "High School" %>>High School</option>
									<option value="Associates" 
									<%= "selected" if resource.education == "Associates" %>>Associates</option>
									<option value="Bachelors" 
									<%= "selected" if resource.education == "Bachelors" %>>Bachelors</option>
									<option value="Masters" 
									<%= "selected" if resource.education == "Masters" %>>Masters</option>
									<option value="Doctorate" 
									<%= "selected" if resource.education == "Doctorate" %>>Doctorate</option>
								</select></div>

								<br>
								<p>** LabElves needs to confirm your email address. Please follow instructions in your confirmation email to activate your account! **</p>

								<input type="submit" name="commit" value="Submit" class="btn btn-large btn-success">
								</form>
								<br>
								<br>
								<%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</div>

<!-- ORIGINAL DEVISE PAGE (GRABBED HTML INSTEAD) 
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %> -->
