<h2 style="color:green">Bid Details</h2>

<ul>
	<li>Task Subject: <%= @bid.task.subject %></li>
	<li>Santa: <%= @bid.santa.name %></li>
	<li>Elf: <%= @bid.elf.name %></li><br>
	<li>Distance from task: <%= get_distance(@bid.elf.latitude, @bid.elf.longitude, 
		@bid.task.latitude, @bid.task.longitude) %> miles</li><br>

	<li>Credit Bid: $<%= @bid.credits_bid %></li>
	<li>Time Bid: <%= @bid.time_bid %></li><br>
	<li>Comments: <%= @bid.comments %></li>
</ul>

<% if @bid.elf == current_user %>
	<%= button_to "Edit Bid", edit_bid_url(@bid), :method => :get, :class => "btn btn-large btn-warning" %>
	<%= button_to "Delete Bid", bid_url(@bid), :data => { :confirm => 
		"Are you sure you want to delete this bid?" }, :method => :delete, :class => "btn btn-large btn-danger" %>
<% elsif @bid.santa == current_user %>		
	<%= button_to "Book this Elf!", book_bids_url(@bid), :method => :get, :class => "btn btn-large btn-inverse" %>	
<% end %>
<br>