<h1 style="color:green">Public Profile: <%= @user.name %></h1>

<h3>Profile information</h3>
<ul>
	<li>Name: <%= @user.name %></li><br>
	<li>Email: <%= @user.email %></li><br>
	<li>Distance Away: <%= get_distance(@user.latitude, @user.longitude, 
		current_user.latitude, current_user.longitude) %> miles</li><br>

	<% unless @user.link.empty? %>
	<li><%= link_to "Link to CV/Resume", @user.link %></li><br>
	<% end %>
	
	<% unless @user.institution.empty? %>
	<li>Institution/Company: <%= @user.institution %></li><br>
	<% end %>
	
	<li>Highest Degree Achieved: <%= @user.education %></li>
</ul>

<% if @user.rating %>
	<h3 style="color:red">Endorsement Rate: <%= (@user.rating * 100).round(0) %>%, <%= @user.total %> Reviews</h3>
<% end %>

<%= button_to "See Reviews For This Elf", user_reviews_url(@user), :method => :get, :class => "btn btn-large btn-info" %><br>

<%= link_to "Back", :back %>
