<h1 style="color:green">Public Profile: <%= @user.name %></h1>

<h3>Profile information</h3>
<ul>
	<li>User ID: <%= @user.id %></li><br>
	<li>Full Name: <%= @user.name %></li><br>
	<li>Email Address: <%= @user.email %></li><br>
	<li>Location: <%= @user.location %></li><br>

	<% unless @user.link.empty? %>
	<li><%= link_to "Link to CV/Resume", @user.link %></li><br>
	<% end %>
	
	<% unless @user.institution.empty? %>
	<li>Institution/Company: <%= @user.institution %></li><br>
	<% end %>
	
	<li>Highest Degree Achieved: <%= @user.education %></li>
</ul>

<% if @user.rating %>
	<h3 style="color:red">Endorsement Percent: <%= @user.rating * 100 %>%</h3>
<% end %>

<%= link_to "Back", :back %>
