<h2 style="color:green">All Specialties</h2>

<ul>
	<% @specialties.each do |specialty| %>
		<% if specialty.parent == nil %>
			<li><%= link_to "#{specialty.name}", specialty_url(specialty) %>
			<ul>
			<% specialty.children.each do |child| %>
				<li><%= link_to "#{child.name}", specialty_url(child) %>
				<ul>
				<% child.children.each do |grandchild| %>
					<li><%= link_to "#{grandchild.name}", specialty_url(grandchild) %></li>
				<% end %>
				</ul>
			<% end %>
			</ul>
			</li><br>
		<% end %>	
	<% end %>
</ul>

<%= link_to "Create a new top-level specialty", new_specialty_url %><br>
<%= link_to "Back to your specialties", specialties_url %>