<h2 style="color:green">Reviews for <%= @user.name %></h2>

<ul>
	<% @user.reviews_received.each do |review| %>
		<li><%= link_to "#{review.task.subject}, #{review.task.time_final.to_date}", review_url(review) %>
		<% if review.endorse %>
			&#x2605;
		<% end %>
		</li><br>
	<% end %>
</ul>

<% if @user.rating %>
	<h3 style="color:red">Endorsement Rate: <%= (@user.rating * 100).round(0) %>%</h3>
<% end %>

<% if @user == current_user %>
	<%= link_to "Reviews Authored", authored_reviews_url %>
<% else %>
	<%= link_to "Back to User Profile", profile_url(@user) %>
<% end %>

