<h2 style="color:green">Review Details</h2>

<ul>
	<% if @review.endorse %>
	<li>&#x2605 Endorsed!</li><br>
	<% end %>
	<li>Santa: <%= @review.task.santa.name %></li><br>
	<li>Elf: <%= @review.task.elf.name %></li><br>
	<li>Task Subject: <%= @review.task.subject %></li><br>
	<li>Task Date: <%= @review.task.time_final %></li><br>
	<li>Review Title: <%= @review.title %></li><br>
	<li>Review Comments: <%= @review.comments %></li><br>
</ul>

<%= link_to "Back", :back %>
