<h2 style="color:green">Review Details</h2>

<ul>
	<li>Santa: <%= @review.task.santa.name %></li>
	<li>Elf: <%= @review.task.elf.name %></li>
	<li>Task Subject: <%= @review.task.subject %></li>
	<li>Task Date: <%= @review.task.time_final %></li>
	<li>Review Title: <%= @review.title %></li>
	<li>Review Comments: <%= @review.comments %></li>
	<li>Endorsed: <%= @review.endorse %></li>
</ul>

<%= link_to "Back", :back %>
