<h2 style="color:green">Review Details</h2>

<div class="span7">
<ul>
	<% if @review.endorse %>
	<li>&#x2605 Endorsed!</li><br>
	<% end %>
	<li>Title: <%= @review.title %></li><br>
	<li>Comments: <%= @review.comments %></li><br>
	<br>
	<li>Santa: <%= @review.task.santa.name %></li><br>
	<li>Elf: <%= @review.task.elf.name %></li><br>
	<li>Task Subject: <%= @review.task.subject %></li><br>
	<li>Task Specialty: <%= @review.task.specialty.name %></li><br>
	<li>Task Date: <%= @review.task.time_final.strftime("%D %l:%M %p") %></li>
</ul>
</div>